<div class="container-fluid">
  <section>
    <h2>Code</h2>

    <ngx-masonry [ordered]="true" class="row row-cols-1 row-cols-md-3 g-4">
      <div ngxMasonryItem class="col" *ngFor="let item of projectItems">
        <div class="card h-100">
          <img src="{{ item.image }}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text" [innerHtml]="item.description"></p>
          </div>
          <div class="card-footer">
            <small class="text-muted">
              <a *ngIf="item.homepage" href="{{ item.homepage }}">Homepage</a>
              <span *ngIf="item.homepage"> | </span>
              <a href="{{ item.repository }}">Repository</a></small
            >
          </div>
        </div>
      </div>
    </ngx-masonry>
  </section>
</div>
