  /*
* Blog posts
*/
.blog-post {
    margin-bottom: 4rem;

}

.blog-post-title {
    margin-bottom: .25rem;
    font-size: 1.75rem;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

.blog-post-thumbnail {
    height: 150px;
}

.blog-post-picture {
    height: 300px !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
