<div class="d-flex w-100 h-100 flex-column">
  <div class="container pt-4">
    <div class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex justify-content-between border-top">
        <span class="p-2 text-muted">Data Science</span>
        <span class="p-2 text-muted">Data Visualization</span>
        <span class="p-2 text-muted">R Programming</span>
      </nav>
    </div>
    <!-- <ul aria-label="Blog posts">
      <li *ngFor="let blog of $blogPosts | async">
        <a [routerLink]="blog.route">
          {{blog.title}} {{blog.authorName}} {{blog.date}}
        </a>
      </li>
    </ul> -->
    <main role="main" class="container">
      <div class="row">
        <div class="col blog-main">
            <div class="blog-post pb-5" *ngFor="let blog of $blogPosts | async">
              <h2 class="blog-post-title border-bottom">{{ blog.title }}</h2>
              <p class="blog-post-meta">{{ blog.date }} by {{ blog.authorName }}</p>
              <div class="float-left pr-3">
                <img class="blog-post-thumbnail d-inline-block img-thumbnail rounded" src="{{ blog.picture }}">
              </div>
              <p>{{ blog.description }}</p>
              <a [routerLink]="blog.route">Read more →</a>
            </div>
        </div>
        <aside class="col-md-4 blog-sidebar">
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="font-italic">About</h4>
            <p class="mb-0">Welcome.</p>
          </div>
          <!-- <div class="p-4">
            <h4 class="font-italic">Archives</h4>
            <ol class="list-unstyled mb-0">
              <li *ngFor="let label of archiveLabels">
                <a class="text-muted disabled">{{ label }}</a>
              </li>
            </ol>
          </div> -->
        </aside>
      </div>
    </main>    
  </div>
</div>
