<div class="container-fluid" data-bs-spy="scroll">
  <section id="about">
    <div>Hi!</div>
    <div>
      I'm Alvin, Software Engineer, and Statistics student at the University of
      British Columbia.
    </div>
    <div>
      I build web applications and leverage predictive models to solve problems.
      In my free time, I enjoy contributing to open-source projects.
    </div>
  </section>

  <section id="code">
    <h2>Code</h2>

    <ngx-masonry [ordered]="true" class="row row-cols-1 row-cols-md-3 g-4">
      <div ngxMasonryItem class="col" *ngFor="let item of projectItems">
        <div class="card h-100">
          <img src="{{ item.image }}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">
              {{ item.description }}
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">
              <a *ngIf="item.homepage" href="{{ item.homepage }}">Homepage</a>
              <span *ngIf="item.homepage"> | </span>
              <a href="{{ item.repository }}">Repository</a></small
            >
          </div>
        </div>
      </div>
    </ngx-masonry>
  </section>

  <section id="contact">
    <h2>Contact</h2>

    <div class="mb-5">
      <div>alvin.nursalim@outlook.com</div>
      <div>Vancouver, British Columbia, Canada</div>
    </div>

    <a href="https://linkedin.com/in/alvin-n">
      <button type="button" class="btn btn-outline-dark me-3">LinkedIn</button>
    </a>
    <a href="https://github.com/irkaal">
      <button type="button" class="btn btn-outline-dark me-3">GitHub</button>
    </a>
    <a href="https://kaggle.com/irkaal">
      <button type="button" class="btn btn-outline-dark">Kaggle</button>
    </a>
  </section>
</div>
