<div class="container-fluid">
  <section>
    <img
      class="img-thumbnail mb-5 me-3"
      src="https://media-exp1.licdn.com/dms/image/C5603AQGQ1wzWGqjkGA/profile-displayphoto-shrink_200_200/0/1578016638674?e=1614816000&v=beta&t=zowt1Oyry6Kmde9kTQ0l9A7qL_m4gqAbCuWULxGZO1c"
      alt="profile"
    />
    <div class="d-inline-block mb-5">
      <div>
        <strong>Hi!</strong> I'm Alvin, Software Engineer, and Statistics
        student at
        <a href="https://www.ubc.ca/about/"
          >The University of British Columbia</a
        >.
      </div>
      <div>
        I build web applications and leverage predictive models to solve
        problems.
      </div>
      <div>In my free time, I enjoy contributing to open-source projects.</div>
    </div>
    <div class="row mb-5">
      <div class="col">
        <h5 class="mb-4">GitHub Contributions</h5>
        <canvas
          height="100"
          baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="false"
          [chartType]="'line'"
        ></canvas>
      </div>
    </div>
  </section>

  <section>
    <h2>Code</h2>
    <h5 class="mb-3">🔭 Repositories:</h5>
    <ul class="mb-4">
      <li *ngFor="let repo of pinnedRepos">
        <a href="https://github.com/irkaal/{{ repo.name }}">
          <strong>{{ repo.name }}</strong>
        </a>
        -
        {{ repo.description }}
      </li>
    </ul>
    <a [routerLink]="['code']">View more →</a>
  </section>

  <section>
    <h2>Contact</h2>
    <div class="mb-5">
      <a href="mailto:alvin.nursalim@outlook.com">alvin.nursalim@outlook.com</a>
      <div>Vancouver, British Columbia, Canada</div>
    </div>
    <a class="me-3" href="https://github.com/irkaal">GitHub</a>
    <a class="me-3" href="https://linkedin.com/in/alvin-n">LinkedIn</a>
    <a href="https://kaggle.com/irkaal">Kaggle</a>
  </section>
</div>
