.blog-post {
  font-size: 1.2rem;
  max-width: 800px;

  div.author {
    align-items: center;
    margin-bottom: 3rem;

    img.avatar {
      border-radius: 50%;
      height: 48px;
      width: 48px;
    }
  }

  h1 {
    margin-bottom: 1.5rem;
  }
}

.blog-md {
  button, code {
    font-size: 85%;
  }

  h2 {
    margin-top: 3rem;
  }
  
  h3 {
    margin-top: 1.5rem;
  }

  img {
    width: 100%;
  }

  img, pre {
    border-radius: .25rem;
  }

  pre {
    margin-bottom: 1rem;
  }
}
