div.container {
  min-width: 320px;
  max-width: 1200px;

  nav {
    height: 150px;

    a {
      font-weight: 500;
    }

    a.nav-brand {
      background-image: none;
      transition: none;

      h1 {
        font-weight: 700;
      }

      h5 {
        font-weight: 400;
      }
    }
  }
}
