.nav {
    align-items: center;
}

.nav a {
    font-size: 1.2em !important;
    display: inline-block;
}

.nav-home h1 {
    font-size: 3.5em !important;
    color: black;
}

.nav-home p {
    font-size: 1.2em !important;
    color: black;
}

.footer {
    text-align: center;
}

.footer a {
    text-decoration: none;
}
