<div class="container py-5 h-100 w-100">
    <nav class="nav">
        <span>
            <a class="nav-link nav-home pb-0" href="#">
                <h1>Alvin N.</h1>
                <p>Data Scientist</p>
            </a>
        </span>
        <span class="mr-auto"></span>
        <div>
            <a class="nav-link text-muted">Résumé</a>
            <a class="nav-link" href="https://www.kaggle.com/irkaal"><i class="fab fa-kaggle"></i></a>
            <a class="nav-link" href="https://github.com/irkaal"><i class="fab fa-github"></i></a>
            <a class="nav-link" href="https://www.linkedin.com/in/alvin-n"><i class="fab fa-linkedin"></i></a>
            <a class="nav-link text-muted">αstro</a>
        </div>
    </nav>
</div>

<router-outlet></router-outlet>

<footer class="footer">
    <div class="container py-3">
        <span class="text-muted">Made with <i class="fab fa-angular"></i> and <i class="fab fa-bootstrap"></i> · <a href="https://github.com/irkaal/irkaal.github.io">Source Code</a></span>
    </div>
</footer>
