.blog-post {
  font-size: 1.2rem;
  max-width: 800px;

  div.author {
    align-items: center;
    margin-bottom: 3rem;

    img.avatar {
      border-radius: 50%;
      height: 48px;
      width: 48px;
    }
  }

  h1 {
    margin-bottom: 1.5rem;
  }
}

.blog-md {
  a {
    text-decoration: underline !important;
    // color: black !important;
    
    // &:hover {
    //   color: #007bff !important;
    // }
  }

  button, code {
    font-size: 90%;
  }

  h2 {
    margin-top: 5rem;
  }
  
  h3 {
    margin-top: 3rem;
  }

  iframe {
    height: 350px;
    width: 100%;
    padding: 1rem;
  }

  img {
    width: 100%;
    margin-top: 1.5rem;
    padding: 1rem;
  }

  img, pre {
    border-radius: .25rem;
  }

  p {
    margin-top: 2rem;
  }

  pre {
    margin-bottom: 1rem;
  }

  table, th, td {
    border: 1px solid black;
  }

  th, td {
    padding: 0.5rem 2rem 0.5rem 2rem;
  }
}
