.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
}

.blog-post {
  margin-bottom: 4rem;
}

.blog-post-title {
  text-decoration: none;
  margin-bottom: 0.25rem;

  h2 {
    font-size: 1.75rem;
  }
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

.blog-post-thumbnail {
  min-width: 220px;
  max-height: 150px;
}

@media screen and (max-width: 991px) {
  .blog-sidebar {
    display: none;
  }

  @media screen and (max-width: 470px) {
    .blog-post-desc {
      display: inline-block;
      margin-top: 1rem;
    }
  }
}
