<div class="container">
  <div class="py-4">
    Hi there! 👋
    <br>
    I explore 🔭, wrangle 🛠️, program 💻, and model 📈. 
  </div>
  <h4 class="py-4">Projects</h4>
  <div class="card-deck pb-5" *ngFor="let projectRow of projects">
    <div class="card" [class.card-empty]="(project | json) == '{}'" *ngFor="let project of projectRow">
      <span *ngIf="(project | json) !== '{}'">
        <img class="card-img-top" src="{{ project.thumbnail }}" alt="{{ project.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ project.title }}</h5>
          <p class="card-text">{{ project.description }}</p>
          <p class="card-text text-capitalize">{{ project.tools.join(' · ') }}</p>
          <p class="card-text">
            <a href="{{ project.repo }}" target="_blank" rel="nofollow noopener noreferrer">
              <i class="fab fa-github"></i>
            </a>
            <a *ngIf="project.homepage" class="pl-2" href="{{ project.homepage }}" target="_blank" rel="nofollow noopener noreferrer">
              <i class="fas fa-link"></i>
            </a>
          </p>
        </div>
      </span>
    </div>
  </div>
</div>
