<div class="pb-5 container">
  <div class="my-5">
    <div class="mb-3">Hi there! 👋</div>
    <div>I'm Alvin, Computer Science and Statistics student at UBC.</div>
    <div>I enjoy solving problems, building applications and tools, and contributing to open-source projects.</div>
  </div>

  <h4 class="pb-2 border-bottom">Code</h4>
  <div class="my-3">
    My work is mostly in form of personal and open-source projects where I use software development and machine learning tools.
  </div>

  <h5 class="mt-4">Personal</h5>
  <div class="card-deck my-3" *ngFor="let projectRow of projects">
    <div class="card" [class.card-empty]="(project | json) == '{}'" *ngFor="let project of projectRow">
      <span *ngIf="(project | json) !== '{}'">
        <img class="card-img-top img-cover" [ngClass]="{'img-contain': project.title === 'triangulr'}" src="{{ project.thumbnail }}" alt="{{ project.title }}">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{{ project.repo }}" title="{{ project.title }}">{{ project.title }}</a>
          </h5>
          <p class="card-text">{{ project.description }}</p>
          <p class="card-text">{{ project.tools.join(' · ') }}</p>
          <p class="card-text">
            <a href="{{ project.repo }}" title="Repository">Source</a>
            <a *ngIf="project.homepage" class="pl-2" title="Homepage" href="{{ project.homepage }}">Homepage</a>
          </p>
        </div>
      </span>
    </div>
  </div>

  <h5 class="mt-4">Open-source</h5>
  <div class="card-deck my-3" *ngFor="let projectRow of osProjects">
    <div class="card" [class.card-empty]="(project | json) == '{}'" *ngFor="let project of projectRow">
      <span *ngIf="(project | json) !== '{}'">
        <img class="card-img-top img-contain" src="{{ project.thumbnail }}" alt="{{ project.title }}">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{{ project.repo }}" title="{{ project.title }}">{{ project.title }}</a>
          </h5>
          <p class="card-text">{{ project.description }}</p>
          <p class="card-text">{{ project.tools.join(' · ') }}</p>
          <p class="card-text">
            <a href="{{ project.repo }}" title="Repository">Source</a>
            <a *ngIf="project.homepage" class="pl-2" title="Homepage" href="{{ project.homepage }}">Homepage</a>
          </p>
        </div>
      </span>
    </div>
  </div>
</div>
