<div class="container h-100 w-100">
    <div class="card-deck pb-5">
        <div class="card">
            <a>
                <img class="card-img-top" style="width: 100%;" src="https://www.publicdomainpictures.net/pictures/300000/velka/agate-grey-color.jpg" alt="Card image cap">
                <div class="card-body text-muted">
                    <h5 class="card-title">Tokyo ODPT</h5>
                    <p class="card-text">In Progress.</p>
                </div>
            </a>
        </div>
        <div class="card">
            <a>
                <img class="card-img-top" style="width: 100%;" src="https://www.publicdomainpictures.net/pictures/300000/velka/agate-grey-color.jpg" alt="Card image cap">
                <div class="card-body text-muted">
                    <h5 class="card-title">ConvNet Studio</h5>
                    <p class="card-text">In Progress.</p>
                </div>
            </a>
        </div>
        <div class="card">
            <a>
                <img class="card-img-top" style="width: 100%;" src="https://www.publicdomainpictures.net/pictures/300000/velka/agate-grey-color.jpg" alt="Card image cap">
                <div class="card-body text-muted">
                    <h5 class="card-title">Cell Sites</h5>
                    <p class="card-text">In Progress.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="card-deck pb-5">
        <div class="card">
            <a href="https://github.com/irkaal/COVID-19">
                <img class="card-img-top" src="https://github.com/irkaal/COVID-19/raw/master/media/COVID-19-1.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">COVID-19 Data Dashboard</h5>
                    <p class="card-text">An R Shiny Dashboard for tracking and forecasting the spread of COVID-19.</p>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="https://github.com/irkaal/AC-TM">
                <img class="card-img-top" src="https://github.com/irkaal/AC-TM/raw/master/media/header.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Animal Crossing - Text Mining</h5>
                    <p class="card-text">Sentiment Analysis and Topic Modeling with tidytext in R.</p>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="https://github.com/irkaal/ds-salary">
                <img class="card-img-top" src="https://github.com/irkaal/ds-salary/raw/master/notebook/eda_files/figure-gfm/unnamed-chunk-49-1.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Data Scientist Salary Estimator</h5>
                    <p class="card-text">A python tool that helps Data Scientists estimate and negotiate their income.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="card-deck pb-5">
        <div class="card">
            <a href="https://github.com/irkaal/randompantry">
                <img class="card-img-top" src="https://github.com/irkaal/randompantry/raw/master/media/randompantry.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Random Pantry - Recipe Recommender System</h5>
                    <p class="card-text">Random Pantry uses machine learning to recommend recipes that you will enjoy!</p>
                </div>
            </a>
        </div>
        <div class="card">
            <a href="https://github.com/irkaal/sf-crime">
                <img class="card-img-top" src="https://github.com/irkaal/sf-crime/raw/master/poster/presentation-poster.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">SF Crime Classification</h5>
                    <p class="card-text">Predict the category of crimes that occurred in San Francisco.</p>
                </div>
            </a>
        </div>
        <div class="card card-empty"></div>
    </div>
</div>
