.card-title {
  a {
    text-decoration: none;
  }
}

.img-cover {
  object-fit: cover;
  object-position: top;
  height: 200px;
}

.img-contain {
  object-fit: contain;
  height: 200px;
}

.card-empty {
  border: none;
}
